@using System.Globalization
@using Web.Data.Models
@model ProductInfo

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
	.col-lg-4 p, h2, img, a, button {text-align: center;}
	.col-lg-4 img { width: 250px; height: 250px; object-fit: cover; margin-top: 5px;  margin-left: auto;
  margin-right: auto; display: block;}
	.col-lg-4 {
		width: 49%;
		margin: 5px auto;
		border-width: 1px;
		border-color: rgb(190,190,190);
		border-style: solid;
		border-radius: 25px;
		}
	.col-lg-4 a {
		border: 2px;
		border-color: rgb(190,190,190);
		border-style: solid;
		border-radius: 25px;
		margin-top: 3px;
	}
	.button-class {
		text-align:center;
	}

</style>
<div class="col-lg-4">
	@{
		if(@Model == null || @Model.Product == null) {
			<p>Product not found</p>
		}
		else
		{
			<img class="img-thumbnail" src="@Model.Product.LinkToImage" alt="@Model.Product.Name" />
			<h2>@Model.Product.Name</h2>
			<p>@Model.Product.Description</p>
			<p>Left: @Model.Product.AvaliableAmount</p>
			<p>Price: @Model.Product.Price.ToString("c", CultureInfo.CreateSpecificCulture("ru-RU"))</p>
			<div class="button-class">
				<a id="addItem" class="nav-link px-2 text-dark" asp-controller="Cart" asp-action="AddItem" asp-route-itemid="@Model.Product.Id" asp-route-count=1>Add</a>
				<a id="removeItem" class="nav-link px-2 text-dark" asp-controller="Cart" asp-action="RemoveItem" asp-route-itemid="@Model.Product.Id" asp-route-count=1>Remove</a>
			</div>
			<h6>Count in cart: @Model.CountInCart</h6>
		}
	}

</div>