@using System.Globalization
@using Web.Data.Models
@model Product

@{
	<div class="col-lg-4">
		<img class="img-thumbnail" src="@Model.LinkToImage" alt="@Model.Name" />
		<h2>@Model.Name</h2>
		<p>@Model.Description</p>
		<p>Left @Model.AvaliableAmount</p>
		<p>Price: @Model.Price.ToString("c", CultureInfo.CreateSpecificCulture("ru-RU"))</p>
	</div>
}